body
{
    width: 100%;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a
{
    text-decoration: none;
    color: inherit;
}

a:visited
{
    color: inherit;
}

p
{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: justify;
    line-height: 1.7em;
    color: #444444;
}

.top
{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    z-index: 99;
    background-color: rgba(69, 158, 192, 0.6);
}

.top-Admin
{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    z-index: 99;
    background-color: #fff;
}

.menu_ham_admin span
{
    height: 3px;
    background: rgb(69, 158, 192);
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}

.menu_ham_admin span:before
{
    content:'';
    height: 3px;
    background: rgb(69, 158, 192);
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
}

.menu_ham_admin span:after
{
    content:'';
    height: 3px;
    background: rgb(69, 158, 192);
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
}

#ID_Utilisateur
{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: justify;
    margin-top:  20px;
    margin-right: 20px;
    color: #fff;
}

#ID_Utilisateur_admin
{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: justify;
    margin-top:  20px;
    margin-left: 70px;
    color: rgb(69, 158, 192);
}

/*-------------------------
Menu
--------------------------*/

.menu_ham
{
    height: 30px;
    width: 30px;
    position: relative;
    margin-left: 16px;
    margin-top: 10px;
    cursor: pointer;
    /* border: 1px solid #fff;
    border-radius: 5px; */
}

.menu_ham_admin
{
    height: 30px;
    width: 30px;
    position: relative;
    margin-left: 16px;
    margin-top: 10px;
    cursor: pointer;
    /* border: 1px solid #fff;
    border-radius: 5px; */
}

.menu_ham span
{
    height: 3px;
    background: #fff;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}

.menu_ham span:before
{
    content:'';
    height: 3px;
    background: #fff;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
}


.menu_ham span:after
{
    content:'';
    height: 3px;
    background: #fff;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
}

.menu
{
    height: 200px;
    width: 200px;
    background-color: #fff;
    /* background-color: rgba(69, 158, 192, 0.6); */


}

.menu a
{
    color: #fff;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    font-size: 1em;
    text-align: left;
    display: block;
    padding-top: 30px;
    padding-left: 50px;
}

.menu a:hover
{
    /* transform: scale(1.1); */
    color: #11B6FF;
}

.menu_admin
{
    height: 200px;
    width: 200px;
    background-color: #fff;
    /* background-color: rgba(69, 158, 192, 0.6); */


}

.menu_admin a
{
    color: #fff;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    font-size: 1em;
    text-align: left;
    display: block;
    padding-top: 30px;
    padding-left: 50px;
}

.menu_admin a:hover
{
    /* transform: scale(1.1); */
    color: #11B6FF;
}

.nav
{
    margin-left: -100%;
    position: absolute;
    margin-top: 50px;
    transition-duration: 0.9s;
}

.nav_admin
{
    margin-left: -100%;
    position: absolute;
    margin-top: 50px;
    transition-duration: 0.9s;
}

.nav_open
{
    margin-left: 0;
    /* position: absolute; */
    margin-top: 48px;
    transition-duration: 0.5s;
    z-index: 99;
    background-color: transparent;
    height: auto;
    padding-bottom: 30px;
    background-color: rgba(69, 158, 192, 0.6);
}

.nav_open_admin
{
    margin-left: 0;
    margin-top: 48px;
    transition-duration: 0.5s;
    z-index: 99;
    background-color: transparent;
    height: auto;
    padding-bottom: 30px;
    background-color: rgb(69, 158, 192);
}

#banniere
{
    /* margin-top: 58px; */
    height: 740px;
    width: 100%;
    /* background-image: url(images/alaska3.jpg); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider
{
    position: relative;
    height: 740px;
    width: 100%;
    /* margin-top: 30px; */
}

.slide
{
    height: 740px;
}

.slide img
{
    width: 100%;
    height: 740px;
}

.guide
{
    position: absolute;
    width: 100%;
    height: auto;
    top: 54%;
    margin-left: auto;
    z-index: 9;
}

#calque
{
    background-color: rgba(0,0,0,0.2);
    position:absolute;
    content:'';
    width:100%;
    height:740px;
    left:0;
    top:0;
    z-index: 8;
}

#banniere_description
{
    z-index: 10;
    text-align: center;
}

#banniere_description h1
{
    color: #fff;
    font-family: 'Special Elite', cursive;
    font-size: 4em;
    font-size: 8em;
    margin: 0;
    position: absolute;
    top: 35%;
    width: 100%;
    height: auto;
    z-index: 9;
    /* background-image: url(images/alaska3.jpg); */

}

#banniere_description #sousTitre
{
    color: #fff;
    font-family: 'Special Elite', cursive;
    font-size: 2em;
}

.titre
{
    color: #459EC0;
    font-family: 'Special Elite', cursive;
    font-size: 1.6em;
    /* text-decoration: none; */
}

h2
{
    text-align: center;
}

/*--------------------------
Section 1 présentation
---------------------------*/

.general
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 70px 20px 20px 20px;
    /* padding-bottom: 60px; */
    /* box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42), 0 1px 10px 0 rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.1); */
}

.form-post
{
    width: 96%;
}

.reveal
{
    opacity: 0;
    transform: translateY(-30px);
}

.reveal-visible
{
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(0, .7, .38, .99);
}

.presentation
{
    width: 50%;
    height: auto;
    margin: auto;
    padding: 0 10px;
}

/* .presentation h3
{
margin-bottom: 5px;
} */

.titreh3
{
    color: #459EC0;
    font-family: 'Special Elite', cursive;
    font-size: 1.2em;
    /* text-align: center; */
}

#separate
{
    display: none;
}

/* #presentation p
{
font-family: 'Roboto', sans-serif;
font-size: 1em;
text-align: justify;
line-height: 1.7em;
color: #444444;
} */

#bio
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto;
}

#bio_fleche
{
    display: none;
}

#jeanF
{
    width: 100%;
    padding-left: 10px;
}

/*--------------------------------
Section 2
---------------------------------*/
.articles /*, .comments*/
{
    /* width: 98%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
    /* box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42), 0 1px 10px 0 rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.1); */
}

.article
{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    /* padding-bottom: 30px; */
}

.articleAdmin
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}

.commentAdmin
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}

.articleBloc
{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 43%;
    height: auto;
    padding: 0 30px;
    /* margin-bottom: 40px; */
    margin: 15px;
    border-radius: 2px;
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 1px -6px rgba(0,0,0,0.1), 0 0px 1px 0 rgba(0,0,0,0.1), 0 0px 10px -2px rgba(0,0,0,0.1);
}

.articleBloc:hover
{
    box-shadow: 0 1px 15px -6px rgba(0,0,0,0.42), 0 1px 15px 0 rgba(0,0,0,0.12), 0 6px 8px -2px rgba(0,0,0,0.1);
}

/*-------------------------
Comments Home page
--------------------------*/

.comments
{
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.oneComment
{
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* align-items: flex-start; */
    width: 90%;
    height: auto;
    padding-bottom: 30px;
}

.commentBloc
{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    width: 25%;
    height: 200px;
    padding: 10px 30px;
    transition: all .4s ease-in-out;
    background-color: #459EC0;
    /* flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    width: 25%;
    height: 200px;
    padding: 10px 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    transition: all .4s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42), 0 1px 10px 0 rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.1); */
}

.commentBloc:hover
{
    /* transform: scale(1.1); */
    transform: translateY(20px);
    box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42), 0 1px 10px 0 rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.1);
}

.com_home
{
    color: #fff;
}

#continu
{
    margin-top: 0;
}

#continu a
{
    color: #459EC0;
    text-decoration: none;
}

#continu a:hover
{
    color: #11B6FF;
}

#icons
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.fa-comment, .fa-plus-circle, .fa-reply, .fa-exclamation-circle, .fa-sign-in-alt, .fa-book-reader
{
    font-size: 2em;
    color: #459EC0;
    padding-bottom: 30px;
    margin-right: 40px;
}

.fa-comment:hover, .fa-plus-circle:hover, .fa-reply:hover, .fa-exclamation-circle:hover, .fa-sign-in-alt:hover, .fa-book-reader:hover
{
    color: #11B6FF;
}

#suite
{
    font-size: 1.1em;
    margin-left: 15px;
    color: #459EC0;
    transition: all .4s ease-in-out;
}

#suite:hover
{
    color: #11B6FF;
    transform: translateX(10px);
}

/*----------------------------
Post view
----------------------------*/

#date
{
    font-size: 0.6em;
    margin-top: 0px;
}

.titre h3
{
    margin-bottom: 15px;
}

/*---------------------
Page formulaire
---------------------*/
.commentaires
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}

.commentaires .titre h4
{
    color: #459EC0;
    font-family: 'Special Elite', cursive;
    font-size: 1em;
    margin-bottom: 10px;
}

.comment
{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.author
{
    margin-bottom: 0;
}

.comment p
{
    width: 370px;
    height: auto;
    padding-right: 20px;
    margin-top: 0;
    font-weight: 100;
    line-height: 1.4em;
}

.fa-times
{
    font-size: 1.4em;
    color: #459EC0;
}

.fa-times:hover
{
    color: #11B6FF;
}

.fa-comment-dots
{
    font-size: 1.4em;
    color: #459EC0;
    margin-left: 5px;
    /* transition-duration: : 0.5s; */
}

.fa-comment-dots:hover
{
    color: #11B6FF;
}

/*New form in popup*/
#form, #update
{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.22);
    transition: display 0.5s, linear;
    /* transition: all 0.4s ease-in; */
}
/*-----------------------------------
Admin session
------------------------------------*/
/*1. Connexion page Admin*/

.connexion
{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 70px 20px 20px 20px;
    padding-bottom: 60px;
    /* box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42), 0 1px 10px 0 rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.1); */
}

.Admin
{
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* align-items: flex-start; */
    width: 42%;
    height: auto;
    padding: 30px;
    box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42), 0 1px 10px 0 rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.1);
}

/*2.Forms rows*/
#form-admin, #form-inscription
{
    /* position: fixed; */
    width: 100%;
    /* top:0;
    left:0; */
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgba(0,0,0,0.22); */
}

#addPost
{
    width: 90%;
}

#form-wrapper, #update-wrapper
{
    width: auto;
    overflow: auto;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42), 0 1px 10px 0 rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.1);
}

#form-pseudo, #update-pseudo, #form-title, #update-title
{
    width: 250px;
    height: 30px;
    border-bottom: 1px solid #999999;
    border-radius: 20px;
    padding-left: 10px;
}

#form-utilisateur, #form-mp, #form-mail
{
    width: 400px;
    height: 40px;
    border-bottom: 1px solid #999999;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* border-radius: 5px 20px 20px 5px; */
    /* border-radius: 10px; */
    /* padding-left: 10px; */
    /* padding-top: 10px; */
    font-size: 0.9em;
}

#form-comment, #update-comment
{
    width: 400px;
    height: 150px;
    border-bottom: 1px solid #999999;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 10px;
    padding-top: 10px;
}

#form-content
{
    width: 100%;
    height: 350px;
    border: 1px solid #999999;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

#submit_adm_btn
{

}

#submit_btn, #update_submit_btn, #submit_adm_btn
{
    width: 150px;
    height: 35px;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    background-color: #459EC0;
    color: #f4eee2;
    transition: 0.3s;
}

#submit_btn:hover, #submit_adm_btn:hover, #update_submit_btn:hover
{
    background-color: #f4eee2;
    color: #459EC0;
}

#error
{
    color: red;
}

/*---------------------------
Admin Home View
----------------------------*/
/*1. Bloc aside menu*/
.titre h4
{
    font-family: roboto;
}

.Scroll
{
    display: none;
}

#contentAdminView
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    width: 100%;
}

.asideAdmin
{
    width: 230px;
    /* display: none; */
    /* position: fixed; */
}

#adminList
{
    padding-left:  0;
    margin-top: 0;
}

#adminList li
{
    list-style-type: none;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    height: 40px;
    padding-top: 22px;
    font-family: roboto;
}

#signalés
{
    color: red;
    font-style: normal;
}

.menuAdmin, .menuAdminDeco
{
    transition : all .2s ease-in-out;
}

.menuAdmin:hover
{
    color: dodgerblue;
    transform: translateX(5px);
}

.menuAdminDeco:hover
{
    color: red;
    transform: translateX(5px);
}

.fa-tachometer-alt, .fa-list-ul, .fa-igloo
{
    font-size: 1em;
    color: dodgerblue;
    margin-right: 10px;
}

.fa-power-off
{
    font-size: 1em;
    color: red;
    margin-right: 10px;
}

/* .fa-list-ul
{
font-size: 1em;
color: limegreen;
margin-right: 10px;
} */

/*2. Bloc vues*/
.generalAdmin
{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 70px 20px 20px 20px;
    padding: 0 60px;


    /* align-items: center; */

}

#blocInfos
{
    width: 80%;
}

.blocAdmin
{
    width: 90%;
    margin-bottom: 10px;
    padding: 10px 40px 10px 40px;
    box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42), 0 1px 10px 0 rgba(0,0,0,0.12), 0 4px 5px -2px rgba(0,0,0,0.1);
}

.commentsPost
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}

.content
{
    display: flex;
    flex-wrap: wrap;
}

.articleBloc2
{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 24%;
    padding: 0 30px;
    /* margin-bottom: 40px; */
    margin: 0 10px 10px 0;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 1px -6px rgba(0,0,0,0.1), 0 0px 1px 0 rgba(0,0,0,0.1), 0 0px 10px -2px rgba(0,0,0,0.1);
}

.articleBloc2:hover, .commentBloc2:hover, .userBloc:hover
{
    box-shadow: 0 1px 15px -6px rgba(0,0,0,0.42), 0 1px 15px 0 rgba(0,0,0,0.12), 0 6px 8px -2px rgba(0,0,0,0.1);
}

.commentBloc2, .userBloc
{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 68%;
    height: auto;
    padding: 1px 30px;
    /* margin-bottom: 40px; */
    margin: 0 54px 10px 0;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 1px -6px rgba(0,0,0,0.1), 0 0px 1px 0 rgba(0,0,0,0.1), 0 0px 10px -2px rgba(0,0,0,0.1);
}

.actions
{
    margin: 15px 0px 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.button1
{
    color: #fff;
    background-color: dodgerblue;
    font-size: 0.9em;
    font-family: roboto;
    padding: 12px;
    border: none;
    border-radius: 7px;
    transition: all .2s ease;
    margin-right: 30px;
}

.button2
{
    color: #fff;
    background-color: limegreen;
    font-size: 0.9em;
    font-family: roboto;
    padding: 12px;
    border: none;
    border-radius: 7px;
    transition: all .2s ease;
    margin-right: 30px;
}

.button3
{
    color: #fff;
    background-color: red;
    font-size: 0.9em;
    font-family: roboto;
    padding: 12px;
    border: none;
    border-radius: 7px;
    transition: all .2s ease;
    margin-right: 30px;
}

.button1 a:visited, .button2 a:visited
{
    color: #fff;
}

.button1:hover, .button2:hover, .button3:hover
{
    background-color: #555555;
    border-radius: 20px;
}

.fa-list, .fa-pen-nib, .fa-trash-alt, .fa-paper-plane, .fa-check-circle
{
    margin-left: 10px;
}

/*----------------------------
Admin comment view
----------------------------*/
.articleComment
{
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    flex-wrap: wrap;
    align-items: center;
    /* align-items: flex-start; */
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}

.allComments
{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 43%;
    height: auto;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    /* border-radius: 10px; */
    transition: all .2s ease-in-out;
    box-shadow: 0 1px 1px -6px rgba(0,0,0,0.1), 0 0px 1px 0 rgba(0,0,0,0.1), 0 0px 10px -2px rgba(0,0,0,0.1);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.allComments:hover
{
    box-shadow: 0 1px 15px -6px rgba(0,0,0,0.42), 0 1px 15px 0 rgba(0,0,0,0.12), 0 6px 8px -2px rgba(0,0,0,0.1);
}

/*---------------------
Inscription form
----------------------*/

.alert
{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: red;
}


/*----------------------------
Media quieries 300px - 768px
-----------------------------*/

@media all and (min-width: 300px) and (max-width: 320px)
{
}

@media all and (min-width: 321px) and (max-width: 767px)
{

    /*------------- Home page -------------*/
    #ID_Utilisateur_admin
    {
        margin-left: 12px;
    }

    .reveal
    {
        opacity : 1;
        transform: translateY(0);
    }

    #banniere
    {
        height: 700px;
    }

    #slider
    {
        height: 700px;
    }

    .slide
    {
        height: 700px;
    }

    #calque
    {
        height: 700px;
    }

    .slide img
    {
        height: 700px;
    }

    #banniere_description h1
    {
        font-size: 5em;
    }

    .titre
    {
        font-size: 1em;
    }

    #bio
    {
        flex-direction: column;
        width: 100%;
    }

    #bio_fleche
    {
        display: flex;
        justify-content: center;
    }

    .fa-chevron-down
    {
        color: #999999;
        font-size: 1.2em;
    }

    .fa-chevron-down:hover
    {
        color: #777777;
    }

    .fa-chevron-up
    {
        color: #999999;
        font-size: 1.2em;
        /* display: none; */
    }

    .presentation img
    {
        display: none;
    }

    .presentation
    {
        width: 90%;
    }

    .general
    {
        margin: 14px 10px 10px 10px;
    }

    .general .reveal
    {
        display: none;
    }

    #jeanF
    {
        padding-left: 0;
    }

    .presentation h3
    {
        margin-bottom: 5px;
    }

    .titreh3
    {
        text-align: center;
    }

    #separate
    {
        display: block;
        border-bottom: 1px solid #999999;
        width: 88%;
        padding-bottom: 20px;
    }

    .article
    {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .articles
    {
        margin: 14px 10px 10px 10px;
    }

    .articleBloc
    {
        height: auto;
        width: 80%;
        margin: 5px;
        padding: 10px 30px;
    }

    .oneComment
    {
        flex-direction: column;
        width: 100%;
    }

    .commentBloc
    {
        width: 80%;
        height: auto;
        margin-bottom: 10px;
    }

    /*------------- Admin connect -------------*/

    .Admin
    {
        width: 85%;
    }

    #form-utilisateur, #form-mp, #form-mail
    {
        width: 100%;
    }

    .connexion
    {
        padding-bottom: 0;
    }

    /*------------- Admin Home page -------------*/

    #contentAdminView
    {
        flex-direction: column;
        margin-top:  0;
    }

    #blocInfos
    {
        width: 100%;
    }

    .asideAdmin
    {
        width: 90%;
        padding-left: 10px;
        background-color: #fff;
        /* display: none; */
        transition : all .2s ease-in-out;
    }

    #adminList
    {
        padding: 0;
        /* display: none; */
        /* padding-inline-start: 40px; */
    }

    .Scroll
    {
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .blocAdmin
    {
        width: 95%;
        padding: 10px;
        box-shadow: none;
    }

    .content
    {
        width: 88%%;
        flex-direction: column;
    }

    .articleBloc2, .allComments
    {
        width: 90%;
        padding: 0 15px;
        margin: 0 0px 10px 0;
    }

    .generalAdmin
    {
        padding: 0;
        margin: 45px 5px 10px 5px;
        width: 95%;
    }

    .commentBloc2, .userBloc
    {
        width: 90%;
        margin: 0 0px 10px 0;
        padding: 1px 15px;
    }

    .actions
    {
        justify-content: space-around;
    }

    .button1, .button2, .button3
    {
        margin-right: 0;
    }

    #date
    {
        font-size: 1em;
    }

    /*------------- Forms users -------------*/

    #form-wrapper
    {
        width: 85%;
    }

    #form-comment
    {
        width: 95%;
    }

    #form-pseudo
    {
        width: 95%;
    }

    /* .menuScroll
    {
    width: 100%;
    } */
}
